@import '../globalVariables.scss';

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &__hi {
    position: absolute;
    top: -1.2em;
    color: var(--action-color);
    font-size: 32px;
  }
  &__me {
    h1 {
      font-size: 32px;
      margin-bottom: 18px;
    }
    p {
      font-size: 16px;
    }
    margin-bottom: 42px;
  }
}

.button {
  @include btn-primary;
}
