@mixin test($color1, $color2) {
  background-color: $color1;
  color: $color2;
}

.wrap_chuck {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.75);
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &__text {
    display: flex;
    //@includetest(blue,yellow):;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transition: transform 0.05s;
    -webkit-transition: transform 0.05s;
    -moz-transition: transform 0.05s;
    -ms-transition: transform 0.05s;
    -o-transition: transform 0.05s;
    span {
      width: 8px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 66px;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
    }

    @for $i from 1 through 18 {
      span:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate($i * 20deg);
        -webkit-transform: translate(-50%, -50%) rotate($i * 20deg);
        -moz-transform: translate(-50%, -50%) rotate($i * 20deg);
        -ms-transform: translate(-50%, -50%) rotate($i * 20deg);
        -o-transform: translate(-50%, -50%) rotate($i * 20deg);
      }
    }
  }

  img {
    width: 80%;
    height: auto;
  }
}
