@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Montserrat:wght@700;900&display=swap');

html,
body,
p,
a,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
}

.primary-bg {
  background-color: var(--primary-color);
}

// SWITCH THEME COLORS
:root {
  /* Your default theme */
  --primary-color: #fbda69;
  --secondary-color: #fff;
  --action-color: #8773f0;
  --btn-border-color: #000;
  --btn-color: #000;
}

[data-theme='dark'] {
  --primary-color: #1f2596;
  --secondary-color: #000;
  --action-color: yellow;
  --btn-border-color: #fff;
  --btn-color: #fff;
}
