$primary-color: #fbda69;

@mixin container {
  @media screen and (min-width: 300px) {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width: 576px) {
    width: 540px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media screen and (min-width: 1400px) {
    width: 1320px;
  }
}

@mixin btn-primary {
  position: relative;
  cursor: pointer;
  border: 2px solid var(--btn-border-color);
  font-weight: 700;
  margin: 0;
  padding: 12px 30px;
  background-color: transparent;
  background-color: var(--primary-color);
  color: var(--btn-color);
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--btn-border-color);
    z-index: 0;
    transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    -webkit-transition: opacity 0.25s ease, transform 0.25s ease;
    -moz-transition: opacity 0.25s ease, transform 0.25s ease;
    -ms-transition: opacity 0.25s ease, transform 0.25s ease;
    -o-transition: opacity 0.25s ease, transform 0.25s ease;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--action-color);
      border: 2px solid var(--action-color);
      color: var(--btn-color);
      transform: translate(3px, 3px);
      -webkit-transform: translate(3px, 3px);
      -moz-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
      -o-transform: translate(3px, 3px);
    }
    &:hover::before {
      opacity: 0;
      color: var(--action-color);
      transform: translate(-2px, -2px);
      -webkit-transform: translate(-2px, -2px);
      -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
      -o-transform: translate(-2px, -2px);
    }
  }
}

@mixin cover {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
