$primary-color: #fbda69;

@mixin container {
  @media screen and (min-width: 300px) {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width: 576px) {
    width: 540px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media screen and (min-width: 1400px) {
    width: 1320px;
  }
}

@mixin btn {
  border: 1px solid #000;
  margin: 0;
  padding: 12px 30px;
  background-color: transparent;
}
