@import './globalVariables.scss';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 60px;
  z-index: 10;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;

    &__wrap_logo {
      display: flex;
      align-items: center;
    }
    &__socials_switch {
      display: flex;
      justify-content: space-between;
      width: 130px;

      @media screen and (min-width: 992px) {
        width: 140px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.menu__nav {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__link {
    line-height: 1em;

    &:hover {
      color: var(--action-color);
    }

    &_active {
      color: var(--action-color);
      &__selected {
        display: none;
      }

      @media screen and (min-width: 992px) {
        &__selected {
          opacity: 0;
          display: block;
          position: absolute;
          left: 50%;
          top: 0;
          width: calc(100% + 20px);
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          text-align: right;

          &::before,
          &::after {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
          &::before {
            content: '<';
            left: -2px;
          }
          &::after {
            content: '>';
            right: -8px;
          }
        }
        #{&}__selected {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__link {
      margin: 0 10px;
      font-size: 14px;
      position: relative;

      &_active__icon {
        display: none;
      }

      &:before,
      &:after {
        content: '';
      }

      &:after {
        content: '';
      }
    }
  }

  @media screen and (min-width: 992px) {
    &__link {
      margin: 0 25px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 767.9px) {
  .menu__nav {
    position: absolute;
    top: 105px;
    left: 100%;
    transform-origin: 100% 50%;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    flex-direction: column;
    align-items: flex-start;
    &__link {
      line-height: 1em;
      font-size: 14px;
      margin-bottom: 12px;
      padding: 6px 0;
      display: flex;
      transition: all 0.25s ease 0.25s;
      -webkit-transition: all 0.25s ease 0.25s;
      -moz-transition: all 0.25s ease 0.25s;
      -ms-transition: all 0.25s ease 0.25s;
      -o-transition: all 0.25s ease 0.25s;
      &_active {
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
        -o-transform: translateX(-85%);
        &__icon {
          color: var(--seconday-color);
          margin-right: 24px;
          font-size: 18px;
          transition: all 0.25s ease;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transform: translateX(0);
          opacity: 1;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
        }
        #{&}__icon {
          transition-delay: 0.2s;
          color: var(--action-color);
          transform: translateX(5px);
          -webkit-transform: translateX(5px);
          -moz-transform: translateX(5px);
          -ms-transform: translateX(5px);
          -o-transform: translateX(5px);
          opacity: 0;
        }
      }
    }
    &__link:last-child {
      margin-bottom: 0;
    }
  }
}
