.socials {
  display: flex;
  align-items: center;

  &__icon {
    margin: 0 5px;
    width: 20px;

    a {
      display: flex;
      align-items: center;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }
}
